{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BlunderStruck</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static './css/styles.css' %}" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    </head>
    <body class="new-full-body">

        <div class="new-body">
            {% block body %}
            {% endblock %}
        </div>



 {% block script %}
      <script type="module" src="{% static 'frontend/js/final.js' %}"></script>
    {% endblock %}






    </body>



</html>